APP_NAME=Laravel
APP_ENV=development
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=daily
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"
MAIL_TO_ADDRESS=to1@example.com,to2@example.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ALLOWED_GOOGLE_USERS=""

DONT_RENDER_CUSTOM_ERROR_MESSAGES=false

API_REQUESTS_MINUTE_LIMIT=1000

ARMAX_DEALER=
ARMAX_LOGIN=
ARMAX_PASSWORD=
ARMAX_TERMINAL=
ARMAX_PROVIDER=
ARMAX_TEST_MODE=true
ARMAX_FAILED_JOBS_DELAYS="1 15 30 60 360"
ARMAX_CHECK_REQUEST_DELAYS="10 30 60 180 1440"

POMPAY_TEST_MODE=true
POMPAY_SERVICE=
POMPAY_FAILED_JOBS_DELAYS=
POMPAY_CHECK_REQUEST_DELAYS=
POMPAY_PRIVATE_KEY=
POMPAY_PRIVATE_KEY_PASSWORD=
