/public
/storage
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.vscode
.scannerwork
.DS_Store
_ide_helper.php
_ide_helper_models.php
_task/

volumes/
bamboo-specs/

/public/subdomain
/firebase-functions

/after.sh
/Vagrantfile

web.config

laravel-echo-server.lock

storage_server/
/public/storage_server

/build/logs
.phpunit.result.cache

storage/logs
storage/tmp
storage/framework/cache
storage/framework/sessions
storage/framework/views
docker-compose.yaml
makefile.config
volumes/etc/nginx/sites-enabled/default.conf
volumes/dbschema/
volumes/dbschema.conf

subdomain/common.js
subdomain/common.js.map
subdomain/index.js
subdomain/index.js.map
subdomain/scripts.js
subdomain/scripts.js.map
subdomain/styles.css
subdomain/styles.css.map

/node_modules
/public/hot
/vendor
.deploy/
.docker/
.env.backup
docker-compose.override.yml

README.md

composer.lock
docker-compose.template
docker-config.json
makefile-config.template
mservis.json
worker_high_restart.sh
worker_restart.sh
